appdirs==1.4.4
asgiref==3.3.1
attrs==20.3.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
cssselect==1.1.0
defusedxml==0.6.0
distlib==0.3.1
Django==3.1.6
django-environ==0.4.5
fake-useragent==0.1.11
filelock==3.0.12
fmpsdk==20201229.0
idna==2.10
lxml==4.6.2
parse==1.19.0
pbr==5.5.1
pyee==8.1.0
pyppeteer==0.2.5
pyquery==1.4.3
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2021.1
requests==2.25.1
sgmllib3k==1.0.0
six==1.15.0
soupsieve==2.2
sqlparse==0.4.1
stevedore==3.3.0
tqdm==4.56.2
urllib3==1.26.3
virtualenv==20.4.2
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
w3lib==1.22.0
websockets==8.1
